<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1" align="center" width="700">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>价格</th>
        <th>时间</th>
    </tr>
    {foreach $list as $key=>$obj}
    {eq name="obj->username" value="樱桃小丸子"}
    <tr>
        <td>{$key}/{$obj->id}</td>
        <td>{$obj->username}</td>
        <td>{$obj->gender}</td>
        <td>{$obj->email}</td>
        <td>{$obj->price}</td>
        <td>{$obj->create_time}</td>
    </tr>
    {/eq}
    {/foreach}
</table>

<table border="1" align="center" width="700">
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>邮箱</th>
        <th>价格</th>
        <th>时间</th>
    </tr>
    {/*volist name="list" id="obj" offset="3" length="5"*/}
    {/*volist name="list" id="obj" mod="2" empty="没有数据"*/}
    {/*eq name="mod" value="0"*/}
    {volist name="list" key="k" id="obj"}
    <tr>
        <td>{$k}/{$obj->id}</td>
        <td>{$obj->username}</td>
        <td>{$obj->gender}</td>
        <td>{$obj->email}</td>
        <td>{$obj->price}</td>
        <td>{$obj->create_time}</td>
    </tr>
    {/*eq*/}
    {/volist}
</table>

{for start="100" end="1" comparison="gt" name="i" step="-2"}
    {$i}
{/for}



</body>
</html>